*{
    padding: 0;
    margin: 0;
}
:root{
    --primary-color:#fdfdfd;
    --secondary-color:#171A1B;
}
.dark-theme{
    --primary-color:#171A1B;
    --secondary-color:#d7d8da;
    
}
.filter{
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    height: 100%;
    position: absolute;
    display: none;
    border-radius: 15px;

}

.show{
    display: block;
} 


body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
    margin: 0;
}

.first {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
}

.second {
    background-image: url("/pexels-eberhard-grossgasteiger-691668.png");
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    margin: 1rem;
    position: relative;
   
    
}

.logo {
    border-radius: 2rem 2rem 0 0;
    display: flex;
    background-color: transparent;
    margin-top: 28px;
    position: absolute;
    width: 100%;
    z-index: 40;
}

.login {
    display: flex;
    flex-direction: column;
    height: 64%;
    width: 18%;
    background-color: var(--primary-color);
    opacity: 90%;
    border-radius: 3rem;
    position: absolute;
    top: 14vh;
    right: 10vh;
    padding: 20px;
}
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.line {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #1D272F;
}

.logo-photo {
    display: flex;
    width: 40%;
    margin-left: 4rem;

}

.list {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
    gap: 3rem;
    justify-content: end;
    margin-right: 4rem;
    animation: fadeInRight;
    animation-duration: 2s;
    font-weight: bolder;

}

.list-div {
    display: flex;
    width: 100%;

}

.heads {
    color: var(--secondary-color);
    margin: 0;
    cursor: pointer;
}

.btn-nav {
    width: 10vh;
    background-color: transparent;
    border-radius: 10px;
    border: solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: 'Space Grotesk';
    padding: 3px;
    cursor: pointer;
    font-weight: bolder;
}

.btn-text {
    color: var(--primary-color);
    margin: 0;
}

.login-head {
    margin: 0;
    color: var(--secondary-color);
}

.login-body {
    margin: 0;
    color: var(--secondary-color);
}

.cred {
    /* height: 10%; */
    width: 96%;
    font-size: 15px;
    /* border-radius: 1rem; */
    position: relative;
    /* padding-inline: 1rem; */
    border:0;
    background-color: transparent;
    outline: none;
    color: var(--secondary-color);
}
.cred-div{
    display: flex;
    border-radius: 10px;
    border: solid 2px var(--secondary-color);
    padding: 8px;
    align-items: center;
    color: var(--secondary-color);
}


.btn-submit {
    font-size: 15px;
    position: relative;
    color: var(--primary-color);
    background-color: transparent;
    border: 0;
}
.div-btn{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    width: 30%;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    border:0;
    color:var(--primary-color);
}

.icon-1 {
    position: absolute;
    top: 15rem;
    right: 6rem;
    
}

.icon-2 {
    position: absolute;
    top: 22.5rem;
    right: 6rem;
}

.icon-3 {
    position: absolute;
    top: 32rem;
    left: 13rem;
    color: var(--primary-color);
}

.image-1 {
    width: 10vh;
    position: absolute;
    bottom: 35px;
}

.help {
    
    margin: 0;
    position: absolute;
    bottom: 45px;
    left: 6rem;
    color: #C7C8CA;

}

.help-name {
    font-size: 21px;
    margin: 0;
    position: absolute;
    bottom:70px;
    left: 6rem;
    color: var(--secondary-color);
}
.svg-1{
    fill: var(--primary-color);
    
}